<!--<div>
  Hello new user!
</div>

<mat-form-field class="example-full-width">
  <input matInput placeholder="Name" [(ngModel)]="selectedUserName">
</mat-form-field>


<button mat-raised-button (click)="addUser()" color="accent">Add</button>


<button mat-icon-button color="accent">
  <mat-icon aria-label="Icon button">favorite</mat-icon>
</button>

<button mat-raised-button (click)="showUserList()">User list</button>

<button mat-raised-button (click)="showAddUser()">Add user</button>


<router-outlet></router-outlet>-->


<div fxLayout="row" fxFlexFill>
  <div fxFlex fxLayout="column" fxLayoutAlign="center, center">
    Hei!
  </div>
  <div fxHide.xs fxFlex fxLayout="column" fxLayoutAlign="center, center">
    Hei!
  </div>
</div>
